@import "variables";

.card {
  background-color: #fff;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: $rounded;
  position: relative;
  &__name {
    cursor: pointer;
  }
  &__delete {
    position: absolute;
    right: 5%;
    top: 10%;
    &:hover {
      color: #E03213;
    }
  }
}